.top-panel {
	background-image: url(../images/background.jpg);
	background-blend-mode: multiply;
	background-color: $light-grey-transparent;
	background-position: right;
	background-size: cover;
	height: 80vh;
	overflow: hidden;

  @media(orientation: portrait) and (max-width: 400px) {
    background-position: 48% 0;
  }
}
